#ifndef GENERATED_DATA_H
#define GENERATED_DATA_H
#include <cstdint>
// Raw features
// Auto copied from your Edge Impulse project
// Or you can copy it from test sample (Edge Impulse project> Model testing > Choose one test data > Show Classification > Copy Raw features)
static float input_buf[] =
{
{{define_input_test_data}}
};
#endif